include lib

extends layout

block content

	script.

		var count = #{count}

		function firstCarPage(){
			var form = $('.selectForm')
			var limit = parseInt(form.find('input[name="limit"]').val())
			var offset = form.find('input[name="offset"]')

			offset.val(0)

			form.submit()
		}

		function prevCarPage(){
			var form = $('.selectForm')
			var limit = parseInt(form.find('input[name="limit"]').val())
			var offset = form.find('input[name="offset"]')

			offset.val(Math.max(parseInt(offset.val()) - 1, 0))

			form.submit()
		}

		function nextCarPage(){
			var form = $('.selectForm')
			var limit = parseInt(form.find('input[name="limit"]').val())
			var offset = form.find('input[name="offset"]')

			offset.val(Math.min(parseInt(offset.val()) + 1, Math.ceil(count/limit)-1))

			form.submit()
		}

		function lastCarPage(){
			var form = $('.selectForm')
			var limit = parseInt(form.find('input[name="limit"]').val())
			var offset = form.find('input[name="offset"]')

			offset.val(Math.floor(count/limit))

			form.submit()
		}

		$(function(){
			$('.selectForm .fields :input').on('input', function(){
				var data = $('datalist#'+this.name+' option')
					.map(function(_, e){ return e.value })
					.toArray()

				if(data.indexOf(this.value) >= 0){
					var form = $(this).parents('.selectForm')
					// clear the offset...
					if($(this).attr('name') != 'offset'){
						form.find('input[name="offset"]').val(0)
					}
					form.first().submit()
				}
			})

			$('.selectForm')
				// XXX for some magical reason this does not work if the
				//		handler is set after .submit(..)
				.on('clear', function(){
					$(this).find('.fields :input:not([name="limit"])').val('')
					$(this).find('.fields :input[name="offset"])').val(0)
				})
				.submit(function(){
					$(this).find('.fields :input').each(function(){
						this.disabled = !($(this).val())
					})
			})
		})

	h1= title

	//- selector...
	div
		form.selectForm(action='/select', method='get')

			span.fields
				h3 Car
				+fields(fields, query)


			//- ecode selector...
			div.fields
				h3 Glass
				//- XXX


			div.pager
				button(type='button' onclick="firstCarPage()") &lt;&lt;
				button(type='button' onclick="prevCarPage()") &lt;

				span.fields
					label Show:
						input(name='limit' list='limit' size='3' value=limit)
						datalist(id='limit')
							option(value=10)
							option(value=20)
							option(value=50)
							option(value=100)

					//- XXX make this a page...
					label Page:
						input(name='offset' list='offset' size='3' value=offset)
						datalist(id='offset')
							-for(var p=0; p < count/limit; p++)
								option(value=p)

					span Total: #{count}

				button(type='button' onclick="nextCarPage()") &gt;
				button(type='button' onclick="lastCarPage()") &gt;&gt;


			div.actions
				button update
				button(onclick="$(this).parents('.selectForm').trigger('clear')") clear


			//- car table...
			div
				+JSONTable({
						Manufacturer: 'manufacturer', 
						Series: 'series', 
						Model: 'model', 
						'Model ID': 'modelID', 
						'Body Number': 'bodyNumber', 
						Type: 'type', 
						'Body Type': 'bodyType', 
						Doors: 'doors', 
						Region: 'region', 
						Actions: function(elem){ 
							return '<a href="#">select</a>' 
						},
						//'__ECODES__': 'ecodes', 
					}, cars)


			//- ecode table...
			if ecodes && ecodes.length > 0
				div
					h2 Euro Codes
					+JSONTable({
							'Euro Code': '_id',
							Actions: function(elem){ 
								return '<a href="#">select</a>' 
							},
						}, ecodes)





//- vim:set ts=4 sw=4 :
