include lib


//- 
	name can be in the following formats:
		- 'name'			- used for both the label and name fields
		- 'label | name'
		- ['label', 'name']
		- 'label | placeholder | name'
		- ['label', 'placeholder', 'name']
	XXX is this name syntax an overkill???

//- XXX add field labels...
mixin field(name, datalist)
	//- parse the name...
	- name = name.constructor == Array ? name : name.split('|')

	- if(name.length == 1){
	-	var text = name[0]
	-	var placeholder = text
	-	name = text
	- } else if(name.length == 2) {
	-	var text = name[0].trim()
	-	var placeholder = text
	-	name = name[1].trim()
	- } else {
	-	var text = name[0].trim()
	-	var placeholder = name[1].trim()
	-	name = name[2].trim()
	- }

	label= text
		input(name=name, list=name, placeholder=placeholder)
		datalist(id=name)
			each e in datalist
				option(value=e)

mixin fields(data)
	each list, name in data
		+field(name, list)



extends layout

block content
	h1= title

	//- query fields + their datalists...
	+fields({
			test: ['a', 'b', 'c', 'd'], 
			'Test field | test2': [1, 2, 3],
			'Test field | Value | test2': [1, 2, 3],
			'| Value without label | test2': [1, 2, 3],
		})

	//- car table...
	//- +JSONTable({}, data.cars)

	//- ecode table...
	//- +JSONTable({}, data.ecodes)




//- vim:set ts=4 sw=4 :
